<form action="/create_blog" method="POST" enctype="multipart/form-data">
<div>
    <label for="title">Title</label>
    <input type="text" name="text" id="text">
    </div>
    <div>
    <label for="image">Image</label>
    <input type="file" name="image" id="image">
</div>
    <button type="submit">Add blog</button>
</form>