<div class="container mt-5">
    <div class="text-center">
        <img src="{{result.url}}">
    </div>
    <div class="text-center mt-3">
        <strong>URL :</strong> 
        <a href="{{result.url}}" target="_blank" class="text-center"> {{result.url}}</a>
    </div>
</div>